@{
    Layout = "_ColumnsOne";

}
<div class="container">
    <div class="card text-white card-danger min-amount-warning">
        <div class="card-body p-3">
            <blockquote class="card-bodyquote mb-0">
                <span>@ViewBag.Message</span>
            </blockquote>
        </div>
    </div>
</div>